body {
  /* Background pattern from Toptal Subtle Patterns */
  background-image: url("img/food.png");
  font-size: 20px;
  color: #ffd700;
}

.form {
  background-color: #183255;
  width: 265px;
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  -webkit-box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 0.9);
  -moz-box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 0.9);
  box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 0.9);
  border-radius: 21px;
  font-weight: bold;
  border: 3px solid;
  border-color: #ffd700;
}

.input {
  width: 250px;
  color: rgb(14, 13, 13);
  border: 2px solid #ddd;
  border-radius: 5px;
  font-size: 15px;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  box-sizing: border-box;
  background-color: antiquewhite;
  outline: none;
}

.input:focus {
  -webkit-box-shadow: 0px 0px 0px 2px rgba(204, 204, 204, 0.9);
  -moz-box-shadow: 0px 0px 5px 2px rgba(204, 204, 204, 0.9);
  box-shadow: 0px 0px 5px 2px rgba(204, 204, 204, 0.9);
  border: 2px solid #ffd700;
  background-color: #e9f3e9;
  color: #183255;
}

.button {
  width: 250px;
  height: 50px;
  margin-top: 15px;
  font-size: 18px;
  background-color: #d12a2a;
  color: #ffd700;
  font-weight: bold;
  border: 2px solid;
  border-radius: 5px;
  cursor: pointer;
  letter-spacing: 2px;
}

.button:hover {
  background-color: #ee0e0e;
}
